<p>
  <%= content_tag(:label, l(:field_chatwoot_server)) %>
  <%= text_field_tag 'settings[chatwoot_server]', @settings['chatwoot_server'], :size => 30 %>
</p>
<p>
  <%= content_tag(:label, l(:field_chatwoot_token)) %>
  <%= text_field_tag 'settings[chatwoot_token]', @settings['chatwoot_token'], :size => 30 %>
</p>
<p>
  <%= content_tag(:label, l(:field_chatwoot_type)) %>
  <%= select_tag "settings[chatwoot_type]",
    options_for_select([
      [l(:option_chatwoot_type_standard), 'standard'],
      [l(:option_chatwoot_type_expanded), 'expanded_bubble']
    ],
    @settings['chatwoot_type']) %>
</p>
<p>
  <%= content_tag(:label, l(:field_chatwoot_position)) %>
  <%= select_tag "settings[chatwoot_position]",
    options_for_select([
      [l(:option_chatwoot_position_left), 'left'],
      [l(:option_chatwoot_position_right), 'right']
    ],
    @settings['chatwoot_position']) %>
</p>
